.container {
    background: #CAFFA0;
    border-radius: 24px;
    margin: 100px auto;
    display: flex;
    font-family: 'Onest', sans-serif;
    width: 1216px;
    justify-content: space-between;
    overflow: hidden;
}

section {
    padding: 32px 0 38.38px 42px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section > h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #383838;
    margin: 0;
}

section > img {
    width: 356px;
}

h1 > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #383838;
    opacity: 0.7;
    margin: 5px 0 0 0;
}

.step {
    background: white;
    padding: 32px;
    border-radius: 24px;
    margin: 32px 32px 32px 150px;
    min-width: 576px;
    min-height: 392px;
    justify-content: space-between;
    flex-direction: column;
}

.top {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 24px;
}

.top > h2 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.top > span {
    color: #9B9B9B;
    margin: 0;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
}

.field {
margin-bottom: 50px;
}

#step1 > .field, #step3 > .field, #step8 > .field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 56px ;
}

#step1 > .buttons >.prev-btn {
    opacity: 0;
    cursor: auto;
}

.step button {
    float: right;
    cursor: pointer;
    border-radius: 12px;
    padding: 12px 20px;
    color: white;
    background: #383838;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.next-btn {
    width: 104px;
}

.radio {
    background: #F5F5F5;
    padding: 18px 16px;
    border-radius: 16px;
    margin: 4px;
}

input {
    margin: 0;
    display: block;
    width: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 18px 16px;
    margin: 4px;
    border-radius: 16px;
    color: #383838;
 }

 .item.active {
    background-color: white;
    border: 1px solid black;
}

.field_select {
    display: flex;
    flex-direction: column;
}

select {
    padding: 26px 0 10px 16px;
    border-radius: 16px;
    border: 1px solid black;
    color: #383838;
    font-size: 16px;
    margin-bottom: 200px;
}

.lselect {
    transform: translate(20px, 23px);
    color: #9B9B9B;
    font-size: 12px;
}

select > option {
    color: #383838;
    font-size: 16px;
}

#step9 > .field input {
    width: 512px;
    margin: 4px;
    background: #F5F5F5;
    border-radius: 16px;
    border: none;
    padding: 18px 16px;
}

#step9 button {
    width: 100%;
}

#step9 > .buttons {
    display: flex;
    flex-direction: column;
}

#step9 > .buttons p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #9B9B9B;
}

#step9 > .buttons span {
text-decoration: underline;
}